.corp-calculatrice {
    border: 4px solid black;
    width: 25%;
    border-radius: 40px;
}

.number {
    font-size: 40px;
    font-weight: 700;
}

.space {
    display: flex;
    justify-content: space-around;
}

.center {
    display: flex;
    justify-content: center;
}